/*
    Webfonts
    =====================================================================================
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600);

/*
    Global Styles
    =====================================================================================
*/
html, body{
    height:100%;
    min-height:100%;
    font: 18px/1.42 'Open Sans', sans-serif;
    color:#fff;
}
body{
    background:#008A00;
}

/*
    Bootstrap3 Adjustments
    =====================================================================================
*/
.row{
    margin-bottom:12px;
}
.row:last-of-type{
    margin-bottom:0;
}
a.list-group-item:nth-of-type(even){
    background-color:#e6e6e6;
}

/*
    Preloader styles
    =====================================================================================
*/
.preloader{
    height:100%;
    width:100%;
    position:relative;
}
.preloader-indicator{
    position:absolute;
    width:120px;
    height:60px;
    left:50%;
    top:50%;
    margin-left:-60px;
    margin-top:-30px;
}

/*
    Wrapper and other containers
    =====================================================================================
*/
.weather-front .row .row{
    margin-right:0;
    margin-left:0;
    background:#007A00;
}
.weather-front .row .row div:nth-of-type(odd){
    text-align:right;
}
.weather-front .row .row div:nth-of-type(even){
    text-align:left;
}


/*
    Weather styles
    =====================================================================================
*/
.weather-location{
    text-transform: uppercase;
    font-size:28px;
}
.weather-temp{
    text-align:center;
    font-size:98px;
}
.weather-id{
    text-align:center;
    font-size:128px;
}
.weather-humidity, 
.weather-wind,
.weather-sunriseandsunset{
    text-align:center;
    font-size:18px;
    line-height:32px;
}
.weather-humidity .climacon,
.weather-wind .climacon,
.weather-sunriseandsunset .climacon{
    text-align:left;
    font-size:32px;
    line-height:32px;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px){
    .weather-location{
        font-size:96px;
    }
    .weather-temp{
        font-size:224px;
    }
    .weather-id{
        font-size:256px;
    }
    .weather-humidity,
    .weather-wind,
    .weather-sunriseandsunset{
        font-size:36px;
        line-height:64px;
    }
    .weather-humidity .climacon,
    .weather-wind .climacon,
    .weather-sunriseandsunset .climacon{
        font-size:64px;
        line-height:64px;
    }
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {
    .weather-location{
        font-size:48px;
    }
    .weather-temp{
        font-size:148px;
    }
    .weather-id{
        font-size:192px;
    }
    .weather-humidity,
    .weather-wind,
    .weather-sunriseandsunset{
        font-size:27px;
        line-height:48px;
    }
    .weather-humidity .climacon,
    .weather-wind .climacon,
    .weather-sunriseandsunset .climacon{
        font-size:48px;
        line-height:48px;
    }
}